<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Figtree:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="../images/logo.b831a251.png" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>



    
    <% if (error) { %>
      <div class="toast">
          <div class="toast-content">
              <i class="fa-solid fa-exclamation" style="background-color: #FF3B30; padding:15px 20px; border-radius:50%"></i>  
              <div class="message">
                  <span class="text text-1"><%= error %></span>
              </div>
          </div>
          <div class="progress"></div>
      </div>
  <% } %>
  







    <form action="/login" method="post">
      <div class="container">
        <div class="pic2"><img src="../images/logo.b831a251.png" alt="" /></div>
        <h1>IIITK SWAR</h1>
        <div class="inp">
          <input type="text" autocomplete="off" id="username" name="username" />
          <label onclick="focusinp('usr')" for="Username">Username</label>
        </div>
        <div class="inp">
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
          />
          <label onclick="focusinp('pass')" for="Password">Password</label>
        </div>
        <div style="display: flex">
          <a href="">Forgot Password? - Support</a>
        </div>
        <button type="submit" name="register">Login</button>
        <a onclick="myFunction()" href="/register"
          >Dont have a account? Sign up</a
        >
      </div>
    </form>

    <div class="pic"></div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll(".inp input");

        inputs.forEach((input) => {
          input.addEventListener("input", function () {
            const label = this.nextElementSibling;
            label.classList.toggle("up", this.value.trim() !== "");
          });
        });
      });

      function focusinp(inp) {
        if (inp == "usr") {
          document.getElementById("username").focus();
        } else if (inp == "pass") {
          document.getElementById("password").focus();
        } else {
          document.getElementById("username").focus();
        }
      }
    </script>





    <script>
      
      const button = document.querySelector("button"),
      toast = document.querySelector(".toast");
    (closeIcon = document.querySelector("#closeIcon")),
      (progress = document.querySelector(".progress"));
    
    let timer1, timer2;
    
    window.addEventListener("load", () => {
      toast.classList.add("active");
      progress.classList.add("active");
    
      timer1 = setTimeout(() => {
        toast.classList.remove("active");
      }, 5000); //1s = 1000 milliseconds
    
      timer2 = setTimeout(() => {
        progress.classList.remove("active");
      }, 5300);
    });
  
  
    
      </script>




  </body>
</html>
